*{
    margin: 0%;
    padding: 0%;   
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
#wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0em 30em;
    grid-template-areas: "nav nav"
                         "left-column right-column";
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav_bare_1{
    grid-area: nav;
    background-color:gray;    
}
.left_column{
    grid-area: left-column;
    background-color:black;
    height: 100vh;
}
.right_column{
    grid-area: right-column;
    /* background-image: url('../pics/adam_complet.jpg'); */
    background-color: gray;
    background-repeat: no-repeat;
    height: 100vh;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    padding: 20px;
    margin: 0px 15px ;
}
a{
    color: honeydew;
}
a:hover{
    text-decoration: underline yellow;
}
#txt{
    color: white;
    text-align: center;
    margin: 10px;
}
#par{
    color: white;
    margin-top: 300px;
    margin-left: 350px ;
    position: absolute;
}
.h3{
    background-color: yellow;
    display: inline;
}
span{
    color: black;
}
#about_side{
    background-color:gainsboro;
    position: relative;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
}
.pic1{
    background-color: black;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
}
.pic2{
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 2;
}
#hello{
    color: yellow;
}
#text{
    margin-left: 50%;
    margin-top: 65px;
    height: 400px;
    width: 500px;
    position: absolute;
}

.work_side{
    background-color:white;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.work{
    text-align: center;
    text-decoration: underline yellow;
}
.nav_bare_2{
    margin-top: 20px;
}
.nav_bare_2 ul li a{
    color: black;
}
#pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.pc{
    margin: 5px;
    margin-left: 120px;
}
.form1{
    text-align: center;
    /* box-shadow: 10px 10px gray; */
}
#lm{
    margin: 50px;
    background-color: black;
    color: white;   
    padding: 5px 30px;
    border-radius: 50px;
}
.sub_side{
    background-image: url('../pics/bgi.jpg');
    position: relative;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    margin-top: 190px;
}
#pr{
    position: absolute;
    margin-top: 60px;
    margin-left: 440px;
    text-align: center;
}
.pr2{
    color: white;
}
.my_blog{
    color: yellow;
}
.btn{
    padding: 10px 30px;
}
.btn2{
    background-color: yellow;
}
#client_side{
    background-color:white;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.title{
    text-align: center;
}
#zone{
    width: 600px;
    height: 300px;
    background-color:lavender;
    margin: 100px 370px;
}
.para{
    padding: 10px;
    position: relative;
}
/* #pic22{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-bottom: 100px;
    margin-left: 0px;
    position: relative;
} */
#radio{
    text-align: center;
}
.rdo{
    margin: 0px 20px;
}
#last{
    background-color: darkblue;
    position: relative;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;

}
.title5{
    margin-top: 10px;
    position: absolute;
    text-align: center;
    margin-left: 600px;
}
.some{
    color: white;
}
.lwest{
    color: white;
    margin-top: 150px;   
    text-decoration: none;
    list-style: none;
}   
.links{
    display: flex;
    justify-content: space-evenly;
}